 /* =========================
   Responsive Styles
========================= */





 @media (max-width: 992px) {
     .mega-menu-box {
         flex-direction: column;
         gap: 35px;
     }

     .ln-extension,
     .features-column,
     .integration-column {
         width: 100%;
     }
 }

 @media (max-width: 1024px) {
     .crm-diffrent {
         padding: 0 50px;
     }

     .crm-diffrent-box {
         flex-direction: column;
         gap: 40px;
     }

     .crm-diff-image {
         max-width: 100%;
         margin: 0 auto;
     }

     .crm-diff-divider .line {
         flex-direction: row;
         gap: 10px;
     }

     .crm-diff-divider .line img {
         width: 6%;
     }

     .get-btn-with-arrow-img {
         top: 60px;
     }

     .get-btn-with-arrow-img img {
         width: 180px;
         left: 70%;
         bottom: -25px;
     }
 }

 /* For tablets and large phones */
 @media (max-width: 992px) {
     .crm-diffrent {
         padding: 0 30px;
     }

     .crm-diffrent-box-item {
         padding: 20px;
     }

     .crm-diff-divider .line h3 {
         font-size: 20px;
     }

     .points h3 {
         font-size: 16px;
         display: flex;
         align-items: center;
         margin: 0;
     }

     .points .red-badge {
         padding: 2px 6px;
         font-size: 10px;
     }

     .points p {
         font-size: 14px;
         line-height: 22px;
     }

     .infobox-icon img {
         width: 100%;
         height: 100%;
     }

     .crm-diff-divider {
         display: none;
     }

     .crm-diff-divider .line img {
         width: 8%;
     }

     .get-btn-with-arrow-img {
         top: 50px;
     }

     .get-btn-with-arrow-img img {
         width: 150px;
         left: 65%;
         bottom: -20px;
         display: none;
     }

     .points {
         gap: 8px;
     }


 }

 /* For mobile devices */
 @media (max-width: 480px) {
     .crm-diffrent {
         padding: 0 15px;
     }

     .crm-diffrent-box {
         flex-direction: column;
         gap: 30px;
     }

     .crm-diffrent-box-item {
         padding: 15px;
         border-radius: 12px;
     }

     .crm-diff-image img {
         width: 100%;
         height: auto;
     }

     .without-crm h3,
     .with-crm .with-title {
         font-size: 20px;
     }

     .points {
         gap: 8px;
     }

     .points h3 {
         font-size: 12px;
         display: flex;
         align-items: center;
         margin: 0;
     }

     .points p {
         font-size: 12px;
         line-height: 20px;
     }

     .infobox-icon img {
         width: 100%;
         height: 100%;
     }

     .crm-diff-divider .line img {
         width: 12%;
     }

     .crm-diff-divider .line h3 {
         font-size: 18px;
     }

     .get-btn-with-arrow-img {
         top: 40px;
         margin-bottom: 50px;
     }

     .get-btn-with-arrow-img img {
         width: 120px;
         left: 60%;
         bottom: -15px;
     }
 }




 /* =========================
   Responsive: How it Works
========================= */

 /* Tablets and medium devices */
 @media (max-width: 1024px) {
     .steps-box {
         flex-direction: column;
         gap: 30px;
     }

     .steps-box-item-content h3 {
         font-size: 18px;
     }

     .steps-box-item-content p {
         font-size: 15px;
         line-height: 22px;
     }

     .steps-box-item .step-number {
         font-size: 90px;
         line-height: 80px;
     }

     .line-step-img img {
         width: 90%;
     }

     .without-crm h3,
     .with-crm .with-title {
         flex-wrap: wrap;
     }


 }

 /* Tablets and large phones */
 @media (max-width: 992px) {
     .steps-box-item .step-number {
         font-size: 70px;
         line-height: 60px;
     }

     .without-crm h3,
     .with-crm .with-title {
         flex-wrap: wrap;
     }

     .green-badge {
         padding: 2px 6px;
         font-size: 10px;
     }

     .steps-box-item-content h3 {
         font-size: 16px;
     }

     .steps-box-item-content p {
         font-size: 14px;
         line-height: 20px;
     }

     .steps-box {
         gap: 25px;
     }

     .line-step-img img {
         width: 95%;
         display: none !important;
     }
 }

 /* Mobile devices */
 @media (max-width: 480px) {
     .steps-box {
         flex-direction: column;
         gap: 20px;
     }

     .steps-box-item {
         border-radius: 12px;
     }

     .steps-box-item-img img {
         border-radius: 12px;
     }

     .steps-box-item .step-number {
         font-size: 60px;
         line-height: 45px;
     }

     .steps-box-item-content h3 {
         font-size: 16px;
     }

     .steps-box-item-content p {
         font-size: 13px;
         line-height: 18px;
     }

     .line-step-img img {
         width: 100%;
     }

     .step-bottom-btn {
         margin-top: 30px;
     }

     .how-it-wor-content-section h2 {
         font-size: 22px;
         text-align: center;
     }

     .how-it-wor-content-section p {
         text-align: center;
     }

     .without-crm h3,
     .with-crm .with-title {
         flex-wrap: wrap;
     }

     .green-badge {
         padding: 2px 6px;
         font-size: 10px;
     }
 }




 /* ==============================
   Testimonial Section Responsive
============================== */

 /* Tablets and medium devices */
 @media (max-width: 1024px) {
     .testimonial-box {
         text-align: center;
     }

     .testimonial-box-item {
         margin-top: 25px;
     }

     .user-content {
         flex-direction: column;
         gap: 10px;
     }

     .user-content .user-image img {
         width: 40px;
     }

     .star-rating-svg .star-item {
         width: 18px;
         height: 18px;
     }

     .testimonial .shape1 {
         top: -30px;
         right: 50px;
     }

     .testimonial .shape2 {
         bottom: -80px;
         left: -10px;
     }

     .testimonial-box h2 {
         font-size: 26px;
     }
 }

 /* Tablets and large phones */
 @media (max-width: 992px) {
     .row {
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     .testimonial-box-item {
         width: 100%;
         max-width: 500px;
         padding: 20px;
     }

     .user-content {
         flex-direction: row;
         justify-content: space-between;
     }

     .user-content .name-role h2 {
         font-size: 20px;
     }

     .user-content .name-role p {
         font-size: 13px;
     }

     .star-rating-svg .star-item {
         width: 16px;
         height: 16px;
     }

     .testimonial .shape1 {
         right: 20px;
         top: -20px;
     }

     .testimonial .shape2 {
         bottom: -70px;
         left: -10px;
     }


     .sale-tab-items-box ul {
         display: block !important;
         border: 0;
     }

     .sale-tab-items-box ul li button {
         padding: 0px !important;
         margin-bottom: 20px !important;
     }

     .shape1,
     .shape2 {
         display: none !important;
     }

     .tab-content-box {
         margin-bottom: 20px;
     }
 }

 /* Mobile devices */
 @media (max-width: 480px) {
     .testimonial-box h2 {
         font-size: 22px;
         text-align: center;
     }

     .testimonial-box-item {
         padding: 16px;
         margin-top: 20px;
         border-radius: 15px;
     }

     .user-content {
         flex-direction: column;
         align-items: center;
         gap: 8px;
     }

     .user-content .name-role h2 {
         font-size: 18px;
         text-align: center;
     }

     .user-content .name-role p {
         font-size: 12px;
     }

     .user-content .user-image img {
         width: 36px;
     }

     .star-rating-svg .star-item {
         width: 14px;
         height: 14px;
     }

     .testimonial .shape1 {
         top: -15px;
         right: 10px;
     }

     .testimonial .shape2 {
         bottom: -50px;
         left: -5px;
     }
 }






 /* ====== Medium screens ====== */
 @media (max-width: 992px) {
     .hero-content h1 {
         font-size: 48px;
         line-height: 58px;
         gap: 0;
     }

     .hero-partners {
         display: flex;
         flex-direction: column;
         min-width: 240px;
         gap: 10px;
     }

     .hero-content h1 .hero-title-highlight .high-text {
         font-size: 48px;
         line-height: 58px;
     }

     .hero-content h1 .hero-title-highlight img {
         width: 180px;
     }

     .hero-sub-content {
         font-size: 17px;
         line-height: 25px;
     }

     .ratings-hero img {
         width: 300px;
     }

     .hero-bottom-btn {
         flex-direction: column;
         gap: 20px;
     }

     .brand-list-container {
         width: 220px;
         height: 60px;
     }

     .brand-list-item .brand-logo {
         width: 32px;
         height: 32px;
     }

     .brand-list-item .brand-name {
         font-size: 16px;
     }

     .brand-list-item {
         gap: 6px;
     }

     .sub-main-title {
         font-size: 22px !important;
         line-height: 34px !important;
     }
 }

 /* ====== Small screens ====== */
 @media (max-width: 992px) {

     .hero-bg-image {
         padding-top: 0;
     }

     .hero-content h1 {
         font-size: 28px;
         line-height: 46px;
         text-align: center;
         flex-direction: column;
         align-items: center;
         gap: 0;
     }

     .hero-content h1 .hero-title-highlight .high-text {
         font-size: 28px;
         line-height: 46px;
         text-align: center;
     }

     .hero-content h1 .hero-title-highlight img {
         width: 140px;
     }

     .hero-sub-content {
         font-size: 16px;
         line-height: 24px;
         text-align: center;
     }



     .brand-list-container {
         width: 188px;
         height: 55px;
     }

     .brand-list-item .brand-logo {
         width: 32px;
         height: 32px;
     }

     .brand-list-item .brand-name {
         font-size: 16px;
     }

     .hero-bottom-btn {
         flex-direction: column;
         gap: 15px;
     }

     .hero-bottom-btn .chrome-web-btn,
     .get-btn {
         /* width: 100%; */
         justify-content: center;
         text-align: center;
     }

     .link-overview-title {
         padding-top: 15px !important;
         font-size: 14px !important;
     }

     .link-overview-image {
         min-height: 200px !important;
     }

     .faq-container {
         padding: 0 !important;
     }

     .footer-sec-inside {
         padding: 0 !important;
     }

     .footer-box {
         align-items: center !important;
     }

     .footer-menu {
         margin-top: 20px;
     }

     .footer-menu h3 {
         text-align: center;
     }

     .footer-menu ul li {
         text-align: center;
         padding-top: 6px;
     }

     .footer-address ul li a {
         justify-content: center;
         margin-bottom: 8px;
     }

     .chrome-ext-btn {
         margin: 0 !important;
     }

     .chrome-ext-link {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-top: 30px;
     }

     .footer-box .footer-logo-content {
         text-align: center;
     }

     .footer-disclaimer .dis-content {
         text-align: center;
     }
 }

 @media (max-width: 576px) {
     .get-free-ac-btn {
         display: none;
         padding: 0px 0px !important;
     }

 }


 @media (max-width: 600px) {
     .faq-question {
         font-size: 16px;
     }

     .faq-answer {
         font-size: 14px;
     }

     .faq-icon {
         font-size: 20px;
     }
 }



 /* ====== Extra Small screens / Mobile ====== */
 @media (max-width: 576px) {
     .hero-content {
         margin-top: 20px;
         padding-bottom: 40px;
     }

     .hero-content h1 {
         font-size: 32px;
         line-height: 40px;
         gap: 0;
     }

     .hero-content h1 .hero-title-highlight .high-text {
         font-size: 28px;
         line-height: 40px;
     }

     .hero-content h1 .hero-title-highlight img {
         width: 120px;
     }

     .hero-sub-content {
         font-size: 14px;
         line-height: 22px;
         /* padding: 0 10px; */
     }

     .top-tag p {
         font-size: 12px;
         text-align: center;
     }



     .brand-list-container {
         width: 188px;
         height: 55px;
     }

     .brand-list-item .brand-logo {
         width: 28px;
         height: 28px;
     }

     .brand-list-item .brand-name {
         font-size: 16px;
     }

     .hero-bottom-btn {
         gap: 12px;
     }

     .hero-bottom-btn .chrome-web-btn,
     .get-btn {
         font-size: 16px;

     }

     .hero-bottom-btn .bottom-btn-title {
         font-size: 16px !important;
         line-height: 16px;
         text-align: justify;
     }

     .hero-bottom-btn .bottom-btn-title span {
         font-size: 10px !important;
     }

     .sub-main-title {
         font-size: 20px !important;
         line-height: 34px !important;
     }

     .sales-tab-content h2 {
         font-size: 16px;

     }

     .sales-tab-content .tab-badge {
         font-size: 12px;
         padding: 0px 10px;
     }

     .tab-content-box h2 {
         text-align: center;
     }

     .tab-content-box-top-menu {
         text-align: center;
         width: 100%;
     }

     .sec-pb-80 {
         padding: 0;
     }

     .crm-diffrent {
         padding-bottom: 20px;
     }

     .how-it-work {
         padding-top: 40px;
         padding-bottom: 40px;
     }

     .sales-tab {
         padding-top: 40px;
     }

     .testimonial {
         padding-top: 40px;
         display: none;
     }

     .flow-chart-section {
         padding-top: 40px;
         padding-bottom: 40px;
     }

     .linkedin-section {
         padding-top: 40px;
         padding-bottom: 40px;
     }

     .faq-section {
         padding-top: 40px;
         padding-bottom: 40px;
     }

     .steps-box-item .steps-box-item-content {
         padding-bottom: 30px;
     }

     .copyright p {
         font-size: 12px;
     }

     .footer-disclaimer .dis-content {
         font-size: 10px;
     }
 }



 @media (max-width: 992px) {
     .desktop-header {
         display: none !important;
     }

     .hero-section {
         margin-top: 100px;
     }

     .login-btn {
         width: 88px;
         height: 40px;
     }

     .chrome-web-btn {
         padding: 8px 20px;
     }

     .get-btn {
         padding: 14px 30px;
     }
 }

 @media (max-width: 992px) {
     .mobile-menu-header {
         display: block !important;
     }

     .mobile-toggle {
         display: block !important;
     }
 }









 /* Prevent layout jump */
 body.has-logo-sticky {
     padding-top: var(--logo-height);
 }

 @media (min-width: 1025px) {
     .desktop-header {
         display: block !important;
     }

     .mobile-menu-header {
         display: none !important;
     }
 }

 @media (max-width: 1024px) {

     .header,
     header.sticky {
         display: none !important;
     }

     .mega-menu-box {
         display: none;
     }

     .ln-extension {
         width: 100% !important;
     }

     .features-column {
         width: 100% !important;
     }

     .integration-column {
         width: 100% !important;
     }

     .testimonial-box-item {
         max-width: 100% !important;
     }
 }

 @media (max-width: 1024px) {
      .mobile-toggle {
        display: block;
        z-index: 1001;
        border: 2px solid;
        padding: 8px 15px;
        font-size: 14px;
        border-radius: 5px;
        color: #03b3d9;
    }

    .mobile-sidebar {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        max-width: 350px;
        height: 100%;
        background: #ffffff;
        box-shadow: -4px 0 15px rgba(0, 0, 0, 0.1);
        transition: left 0.4s ease;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        padding: 0px;
        overflow-y: auto;
    }

    .mobile-sidebar.active {
        left: 0;
    }

    .mobile-sidebar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        padding: 5px;
    }

    .mobile-logo {
        width: 130px;
        height: auto;
    }

    .close-sidebar {
        background: none;
        border: 1px solid #aeaeae;
        font-size: 20px;
        color: #01b2d8;
        cursor: pointer;
        width: 40px;
        border-radius: 5px;
    }

    .mobile-menu {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .mobile-menu li {
        border: 0;
    }

    .mobile-menu a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 5px;
        color: #090F4E !important;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .mobile-menu a:hover {
        color: #08a0d8 !important;
    }

    .dropdown a:hover {
        color: #08a0d8 !important;
    }

    .mobile-menu .dropdown-list {
        display: none;
        flex-direction: column;
        padding-left: 15px;
        /* background: #f9f9f9; */
    }

    .mobile-menu .dropdown-list li a {
        font-weight: 500;
        font-size: 15px;
        padding: 10px 0;
    }

    .mobile-menu .dropdown.open>.dropdown-list {
        display: flex;
        position: relative;
    }

    .mobile-actions {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 25px;
    }

     .btn-free-account {
         display: block;
         text-align: center;
         background: #1a3e62;
         color: #fff;
         padding: 14px;
         border-radius: 10px;
         font-weight: 500;
         text-decoration: none;
     }

     .btn-login {
         display: block;
         text-align: center;
         border: 2px solid #1a3e62;
         color: #1a3e62;
         padding: 12px;
         border-radius: 10px;
         text-decoration: none;
         font-weight: 500;
     }


     .mega-menu-box {
         transform: translate(0%, 0px) !important;
         padding: 20px !important;
         background-color: transparent !important;
         background-image: linear-gradient(130deg, #FCFFFF 0%, #FFFDFF 100%) !important;
         opacity: 1 !important;
         visibility: visible !important;
     }

     .features-column ul {
         display: flex;
         flex-direction: column;
     }

     .ln-extension-content {
         padding: 0 !important;
     }

     .ln-extension img {
         margin-top: 15px;
     }


     .dropdown a i {
         border: 1px solid #787878;
         padding: 3px 13px;
         border-radius: 15px;
         color: #787878;
         display: flex;
         justify-content: center;
         align-items: center;
     }


     .submenu-list {
         /* opacity: 1 !important;
         visibility: visible !important; */
         width: 100%;
     }

     .submenu .submenu-list li {
         list-style: none;
         padding: 15px;
     }

     .submenu .submenu-list li a {
         justify-content: flex-start;
         gap: 10px;
     }

 }



 @media (min-width: 1025px) and (max-width: 1199px) {

     .container,
     .container-lg,
     .container-xl {
         width: 100% !important;
         max-width: 100% !important;
         padding-left: 15px !important;
         padding-right: 15px !important;
     }

     .infobox-icon img {
         height: auto;
     }

     .mega-menu-box {
         width: 1320px !important;
         transform: translate(-22%, 25px) !important;
     }
 }

 @media (min-width:1199px) and (max-width: 1300px) {
     .mega-menu-box li {
         padding: 4px 6px 8px 10px !important;
     }

     .mega-menu-box {
         padding: 18px 15px;
     }

     .container,
     .container-lg,
     .container-xl {
         width: 100% !important;
         max-width: 100% !important;
         padding-left: 15px !important;
         padding-right: 15px !important;
     }

     .submenu .submenu-list li {
         padding: 15px;
     }
 }

 